{% extends 'base.html'%}

{%block angularNgApp%}{%endblock %}

{%block title %} 
{{request.user}} 
{% endblock%}

{% load staticfiles %}
{% block css%}

<link rel="stylesheet" href=" {%static 'css/foundation.min.css'%} ">

<link rel="stylesheet" href="{%static 'css/app.css'%}">

{%endblock%}

{%block content%}

    {%include 'menu.html'%}   

    {% include 'postbook_list.html'%}

    {% include 'cometary-book.html'%}

{%endblock %}

{%block js%}

<script src="{%static 'js/vendor/jquery.js'%}"></script>
<script src="{%static 'js/foundation.min.js'%}"></script>
<script src="{%static 'js/angular/angular.min.js'%}"></script>

<script>
    $(document).foundation();
</script>

{%endblock%}
