<div class="row" id="busca">
    <div class="small-12 small-centered columns ">
        <h2 class="text-center">Busca por livros</h2>
        <div class="panel">
            <form method='GET' action=''>

                <input type="text" name="page" placeholder="busca post">
                <div class="small-12  medium-6 large-4 small-centered columns">
                    <input type="submit" value="Procura" class="button expand">
                </div>
            </form>
        </div>
    </div>
</div>


