{% load staticfiles %}
<hr>
<div class="row" id="categoria">
    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/aventura/">
            <div class="panel">
                <h2 class="text-categoria">Aventura</h2>
                <img src="{%static 'img/aventura.jpg'%}" alt="Categoria Aventura" />
            <div>
        </a>
    </section>

    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/romance/">
            <div class="panel">
                <h2 class="text-categoria" >Romance</h2>
                <img src="{%static 'img/romance.jpg'%}" alt="Categoria Romance" />
            </div>
        </a>
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <div class="panel">
            <a href="/book/category/poesia/">
                <h2 class="text-categoria">Poesia</h2>
                <img src="{%static 'img/poesia.jpg'%}" alt="slide 1" />
            </a>
        </div>
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/ficcao-cientifica/">
            <div class="panel">

                <h2 class="text-categoria">Ficção científica</h2>
                <img src="{%static 'img/cientifica.png '%}" alt="slide 1" />
            </div>
        </a>
    </section>

        <!-- medium up-->

    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/terror/">
            <div class="show-for-medium-up">
                <div class="panel">
                    <h2 class="text-categoria">Terror</h2>
                    <img src="{%static 'img/terror.jpg'%}" alt="slide 1" />
                </div>
            </div>
        </a>
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/fantasia/">
            <div class="show-for-medium-up">
                <div class="panel">
                    <h2 class="text-categoria">Fantasia</h2>
                    <img src="{%static 'img/fantasia.jpg'%}" alt="slide 1" />
                </div>
            </div>
        </a>
    </section>

        <!-- Large up-->
    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/comedia/">
            <div class="show-for-large-up">
                <div class="panel">
                    <h2 class="text-categoria">Comedia</h2>
                    <img src="{%static 'img/comedia.jpg'%}" alt="slide 1" />
                </div>
            </div>
        </a>
    </section>

    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/auto-ajuda/">
            <div class="show-for-large-up">
                <div class="panel">
                    <h2 class="text-categoria">Auto ajuda</h2>
                    <img src="{%static 'img/ajuda.jpg'%}" alt="slide 1" />
                </div>
            </div>
        </a>
    </section>
    <section class="small-12 medium-6 large-4 columns">
        <a href="/book/category/romance-policial/">
            <div class="show-for-large-up">
                <div class="panel">
                    <h2 class="text-categoria">Romance Policial</h2>
                    <img src="{%static 'img/romance-policial.jpg'%}" alt="slide 1" />
                </div>
            </div>
        </a>
    </section>
</div>
