{% load staticfiles %}
<hr>
<div class="row">

    <section class="small-12 medium-6 large-4 columns">
        <h2 class="text-center">Aventura</h2>
        <img src="{%static 'img/aventura.jpg'%}" alt="Categoria Aventura" />
    </section>

    <section class="small-12 medium-6 large-4 columns">
        <h2 class="text-center">Romance</h2>
        <img src="{%static 'img/romance.jpg'%}" alt="Categoria Romance" />
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <h2 class="text-center">Poesia</h2>
        <img src="{%static 'img/poesia.jpg'%}" alt="slide 1" />
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <h2 class="text-center">Ficção científica </h2>
        <img src="{%static 'img/cientifica.png '%}" alt="slide 1" />
    </section>

 <!-- medium up-->

    <section class="small-12 medium-6 large-4 columns">
        <div class="show-for-medium-up">
            <h2 class="text-center">Terror</h2>
            <img src="{%static 'img/terror.jpg'%}" alt="slide 1" />
        </div>
    </section>


    <section class="small-12 medium-6 large-4 columns">
        <div class="show-for-medium-up">
            <h2 class="text-center">Fantasia</h2>
            <img src="{%static 'img/fantasia.jpg'%}" alt="slide 1" />
        </div>
    </section>

    <!-- Large up-->
    <section class="small-12 medium-6 large-4 columns">
        <div class="show-for-large-up">
            <h2 class="text-center">Comedia</h2>
            <img src="{%static 'img/comedia.jpg'%}" alt="slide 1" />
        </div>
    </section>
    <section class="small-12 medium-6 large-4 columns">
        <div class="show-for-large-up">
            <h2 class="text-center">Auto ajuda</h2>
            <img src="{%static 'img/ajuda.jpg'%}" alt="slide 1" />
        </div>
    </section>
    <section class="small-12 medium-6 large-4 columns">
        <div class="show-for-large-up">
            <h2 class="text-center">Romance Policial</h2>
            <img src="{%static 'img/romance-policial.jpg'%}" alt="slide 1" />
        </div>
    </section>
</div>
