<div class="small-12 medium-6 large-6 large-centered columns">
    <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
            <dd data-magellan-arrival="post">
                <a href="#busca">Busca</a>
            </dd>
            <dd data-magellan-arrival="categoria">
                <a href="#ultimos-post">Ultimos post</a>
            </dd>
            <dd data-magellan-arrival="category">
                <a href="#categoria">Categoria</a>
            </dd>
        </dl>
    </div>

</div>
