<div class="row" id="ultimos-post">
    <h2 class="text-center">Ultimos livros cadastrados </h2>

</div>
<hr>

<div class="row">
    {% for book in object_list %}
    <div class="small-12 medium-6 large-4 columns">
        <div class="panel">
            <a href="book/{{book.slug}} ">        
                <img src="{{book.picture}}" alt="">
                <h2 class="text-center"> {{book.name}}</h2>
                <p>{{book.description|truncatechars:300}}</p>
            </a>

        </div>
    </div>
    {% endfor%}
    </div>
