<hr>
<footer>
    <div class="row">
        <div class="small-12 medium-6 large-4 columns">
            <h3>Listas</h3>
            <p>Destaques</p>
            <p>Populares da semana</p>
            <p>Recentes</p>
        </div>

        <div class="small-12 medium-6 large-4 columns">
            <h3>Sobre Book Discover</h3>
            <p>Cadastrar livro</p>
            <p>Perguntas frequentes</p>
            <p>Contato</p>
        </div>

        <div class="small-12 medium-6 large-4 columns">
            <h3>Sobre Book Discover</h3>
            <p>Cadastrar livro</p>
            <p>Perguntas frequentes</p>
            <p>Contato</p>
        </div>
    </div>
</footer>
